:root {
  --main-text-color: #212121;
  --menu-text-color: black;
  --contactncontent-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --button-text-color: white;
  --background-color: #f5f5f5;
  --button-backgroundnhover-color: #2196f3;
  --alternative-button-background-color: #f5f4fa;
  --mainheadline-footer-color: #2f303a;
  --cards-border: #eeeeee;
  --headline-bottom-line: #ececec;
  --gradient: rgba(47, 48, 58, 0.4);
  --icons-color: #afb1b8;
  --transition-fn: cubic-bezier(0.4, 0, 0.2, 1);

  /* fonts */

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

/* Box-sizing for whole website */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Styles for whole website */
body {
  color: var(--main-text-color);
  font-family: var(--primary-font), var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

/* Container for header, body and footer */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  padding-right: 27px;
  margin: auto;
}

/* LOGO header + footer */

.logo {
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9375em;
  letter-spacing: 0.03em;
  color: var(--button-backgroundnhover-color);
}

.logo--header > span {
  color: var(--menu-text-color);
}

.logo--footer > span {
  color: var(--button-text-color);
}

/* NAV */

.nav {
  display: flex;
  list-style: none;
  gap: 46px;
  margin-left: 93px;
}

.nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-left: auto;
  transition: color 250ms var(--transition-fn);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--button-backgroundnhover-color);
}

.nav__link--active::after {
  position: relative;
  content: "";
  display: block;
  border-bottom: solid 4px var(--button-backgroundnhover-color);
  width: 53px;
  height: 4px;
  top: 30px;
  border-radius: 2px;
}

/* CONTACT header + footer + bottomline */

.contact {
  list-style: none;
  display: flex;
}

.contact__link {
  text-decoration: none;
  font-size: 14px;
  transition: color 250ms var(--transition-fn);
}

.contact a:hover,
.contact a:focus {
  color: var(--button-backgroundnhover-color);
}

.contact--header {
  gap: 50px;
  margin-left: auto;
}

.contact__link--header {
  font-weight: 500;
  line-height: 1px;
  letter-spacing: 0.02em;
  color: var(--contactncontent-text-color);
}

.contact__icon {
  margin-right: 10px;
  color: var(--contactncontent-text-color);
  fill: var(--contactncontent-text-color);
  transition: fill 250ms var(--transition-fn);
}

.contact__link--header:hover .contact__icon,
.contact__link--header:focus .contact__icon {
  color: var(--button-backgroundnhover-color);
  fill: var(--button-backgroundnhover-color);
}

.contact--footer {
  flex-direction: column;
  align-items: baseline;
  gap: 9px;
  margin: 9px 0;
  padding: 0;
}

.contact__link--footer {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.header-bottomline {
  border-bottom: 1px solid var(--headline-bottom-line);
}

/* SECTIONS - main content */

/* BANNER main */

.banner {
  background-color: var(--mainheadline-footer-color);
  background-image: linear-gradient(var(--gradient), var(--gradient)),
    url(../images/img-background.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1600px;
}

.banner__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-text-color);
  padding-top: 200px;
  padding-left: 252px;
  padding-right: 252px;
}

/* BUTTONS */

.button {
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--button-backgroundnhover-color);
  color: var(--button-text-color);
  transition: background-color 250ms var(--transition-fn),
    color 250ms var(--transition-fn), box-shadow 250ms var(--transition-fn);
}

.button:hover,
.button:focus {
  background-color: var(--button-backgroundnhover-color);
  color: var(--button-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button--categories {
  font-weight: 500;
  line-height: 1.625em;
  background-color: var(--alternative-button-background-color);
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  padding: 6px 22px;
}

.button--banner {
  font-weight: 700;
  line-height: 1.875em;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
  background-color: var(--button-backgroundnhover-color);
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
}

.button--modal {
  width: 200px;
  height: 50px;
  color: var(--button-text-color);
  background-color: var(--button-backgroundnhover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 40px;
}

.button--modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 8px;
  right: 8px;
  background-color: var(--button-text-color);
  color: var(--main-text-color);
  border: 1px solid var(--icons-color);
  border-radius: 50%;
}

.button--newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  width: 200px;
  height: 50px;
  gap: 24px;
}

/* HEADLINES */

.headline-h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0;
  padding-top: 0;
}

.headline-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin: 0 auto;
  padding-left: 24px;
  padding-bottom: 4px;
  padding-top: 0;
  position: relative;
  z-index: 2;
}

.headline-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--main-text-color);
}

.headline-h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
}
.headline-h5--lorem {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
  color: var(--main-text-color);
}

.headline-h5--footer {
  color: var(--button-text-color);
  margin-bottom: 20px;
}

/* LOREM */

.lorem {
  list-style: none;
  display: flex;
  gap: 30px;
  padding-bottom: 0;
}

.lorem__icon {
  width: 270px;
  height: 120px;
  background-color: var(--alternative-button-background-color);
  padding: 25px 100px;
}

.lorem__text {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  margin: 0;
  color: var(--contactncontent-text-color);
}

/* WORK */

.work {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}

.work__img {
  position: relative;
  z-index: 1;
}

.work__img > .work__label {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
  color: var(--button-text-color);
  position: absolute;
  top: 226px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  z-index: 2;
}

.work__img > .work__label--1 {
  padding: 27px 90px;
}

.work__img > .work__label--2 {
  padding: 27px 113px;
  white-space: nowrap;
}

.work__img > .work__label--3 {
  padding: 27px 94px;
}

/* TEAM */

.team {
  background-color: var(--alternative-button-background-color);
  width: 100%;
}

.team__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
}

.team__item {
  margin: 0 auto;
  background-color: var(--button-text-color);
}

.team__img {
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875em;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding-bottom: 30px;
  color: var(--contactncontent-text-color);
}

/* SOCIALS team & footer */

.socials {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.socials--team {
  margin: 0 32px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: background-color 250ms var(--transition-fn),
    fill 250ms var(--transition-fn);
}

.socials__link--team {
  background-position: 50%;
  margin-bottom: 30px;
  color: var(--icons-color);
  fill: var(--icons-color);
}

.socials__link--team:hover,
.socials__link--team:focus {
  background-color: var(--button-backgroundnhover-color);
  fill: var(--button-text-color);
}

.socials--footer {
  margin-top: 12px;
}

.socials__link--footer {
  fill: var(--button-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__link--footer:hover,
.socials__link--footer:focus {
  background-color: var(--button-backgroundnhover-color);
}

/* PORTFOLIO categories */

.main-portfolio {
  background-color: white;
}

.categories {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin-bottom: 50px;
}

.grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.grid__item {
  margin: 0 auto;
  padding: 0%;
  flex-basis: calc((100% - 60px) / 3);
}

.grid__category {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  color: var(--contactncontent-text-color);
  margin: 0 auto;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 0;
}

.grid__link {
  text-decoration: none;
}

.grid__img {
  background-color: var(--button-text-color);
  margin: 0 auto;
  padding: 0%;
  transition: color 250ms var(--transition-fn), fill 250ms var(--transition-fn);
}

.grid__img:hover,
.grid__img:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.grid__box {
  position: relative;
  overflow: hidden;
}

.grid__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  padding: 49px 45px 49px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--button-text-color);
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 28px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--transition-fn);
  z-index: -1;
}

.grid__box:hover .grid__overlay,
.grid__box:focus .grid__overlay {
  position: absolute;
  transform: translateY(0);
  z-index: 1;
  overflow: hidden;
}

.grid__figcaption {
  border-left: 1px solid var(--cards-border);
  border-bottom: 1px solid var(--cards-border);
  border-right: 1px solid var(--cards-border);
  background-color: var(--button-text-color);
  margin: 0 auto;
  padding: 0%;
  position: relative;
  z-index: 2;
}

/* CLIENTS */

.clients {
  list-style: none;
  display: flex;
  gap: 30px;
  align-items: center;
}

.clients__link {
  border: 1px solid var(--icons-color);
  fill: var(--icons-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  transition: border-color 250ms var(--transition-fn),
    fill 250ms var(--transition-fn);
}

.clients__link:hover,
.clients__link:focus-within {
  fill: var(--button-backgroundnhover-color);
  border-color: var(--button-backgroundnhover-color);
}

/* FOOTER */

.footer {
  background-color: var(--mainheadline-footer-color);
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__info {
  margin-right: 70px;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: var(--button-text-color);
  white-space: nowrap;
}

.newsletter {
  margin-left: auto;
}

.newsletter__form {
  display: flex;
}

.newsletter__mail {
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--mainheadline-footer-color);
  width: 358px;
  height: 50px;
  padding-left: 16px;
  line-height: 1.25em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__textbutton {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  text-align: center;
  letter-spacing: 0.06em;
}

.backdrop {
  display: flex;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms var(--transition-fn),
    opacity 250ms var(--transition-fn);
  z-index: 3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 250ms linear, opacity 250ms linear;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: var(--button-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  transition: transform 250ms var(--transition-fn);
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4375em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal__label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.875em;
  letter-spacing: 0.01em;
  color: var(--contactncontent-text-color);
}

.modal__label:focus-within > .modal__input {
  border-color: var(--button-backgroundnhover-color);
  transition: border-color 250ms var(--transition-fn);
}

.modal__label:focus-within > .modal__icon {
  fill: var(--button-backgroundnhover-color);
  transition: fill 250ms var(--transition-fn);
}

.modal__input {
  position: relative;
  outline: none;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 10px;
}

.modal__comment {
  resize: none;
  outline: none;
  width: 448px;
  height: 138px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal__comment:focus {
  border-color: var(--button-backgroundnhover-color);
  transition: border-color 250ms var(--transition-fn);
}

.modal__icon {
  position: absolute;
  top: 40%;
  left: 10%;
  align-items: center;
  justify-content: center;
  fill: var(--main-text-color);
}

.checkbox {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 55px;
  margin-right: 54px;
  margin-bottom: 0;
  color: var(--contactncontent-text-color);
}

.checkbox__input {
  position: relative;
  opacity: 0;
}

.checkbox__icon {
  position: absolute;
  fill: var(--button-text-color);
  top: 10%;
  right: 97%;
  border: 1px solid var(--main-text-color);
}

input:checked + .checkbox__icon {
  fill: var(--button-backgroundnhover-color);
  border-color: var(--button-backgroundnhover-color);
  border-radius: 2px;
  transition: border-color 250ms var(--transition-fn);
  transition: fill 250ms var(--transition-fn);
}

.checkbox__terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.checkbox__link {
  color: var(--button-backgroundnhover-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}
