@import "../utils/variables";

//MOBILE

.banner {
  background-color: $mainheadline-footer-color;
  background-image: linear-gradient($gradient, $gradient),
    url(../images/img-background-mobile@1x.jpg);
  max-width: 100%;
  padding: 118px 0;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.36em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $button-text-color;
  }

  &__button {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .banner {
     background-color: $mainheadline-footer-color;
  background-image: linear-gradient($gradient, $gradient),
    url(../images/img-background-mobile@2x.jpg);
    }
  }

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .banner {
    background-image: linear-gradient($gradient, $gradient),
      url(../images/img-background-tablet@1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .banner {
     background-color: $mainheadline-footer-color;
  background-image: linear-gradient($gradient, $gradient),
    url(../images/img-background-tablet@2x.jpg);
    }
  }
}


@media screen and (min-width: 1200px) {
  .banner {
    background-image: linear-gradient($gradient, $gradient),
      url(../images/img-background@1x.jpg);
   max-width: 1600px;
    padding: 200px 0;
    margin: 0 auto;

    &__title {
    font-size: 44px;
    line-height: 1.36em;   
  }
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .banner {
     background-color: $mainheadline-footer-color;
  background-image: linear-gradient($gradient, $gradient),
    url(../images/img-background-desktop@2x.jpg);
    }
  }
}



