@import "../utils/variables";

.footer {
  background-color: $mainheadline-footer-color;
  padding: 60px 0;

  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
  }

  //   &__info {

  //   }

  &__address {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    margin-top: 20px;
    color: $button-text-color;
    white-space: nowrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }

  .footer__info {
    padding-left: 76px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__address {
    padding-bottom: 8px;
  }

  .footer__socials {
    padding-right: 89px;
  }
}

// .footer {
//   background-color: $mainheadline-footer-color;
//   padding: 60px 0;

// &__container {
//   display: flex;
//   align-items: baseline;
// }

// &__info {
//   margin-right: 70px;
// }

// &__address {
//   font-style: normal;
//   font-size: 14px;
//   letter-spacing: 0.03em;
//   margin-top: 20px;
//   color: $button-text-color;
//   white-space: nowrap;
// }
// }
