@import "../utils/variables";

//MOBILE

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  margin: auto;
}

.header-bottomline {
  border-bottom: 1px solid $headline-bottom-line;
}


// .header-container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   height: 80px;
//   padding-right: 27px;
//   margin: auto;
// }

// .header-bottomline {
//   border-bottom: 1px solid $headline-bottom-line;
// }
