@import "../utils/variables";

//MOBILE

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  margin: auto;
  gap: 100px;
  justify-content: space-between;
}

&-bottomline {
  border-bottom: 1px solid $headline-bottom-line;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
.header-container {
  min-width: 768px;
  max-width: 1199px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 100%;
}

&-bottomline {
  border-bottom: 1px solid $headline-bottom-line;
  width: 100%;
}
}

// .header-container {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   height: 80px;
//   padding-right: 27px;
//   margin: auto;
// }

// .header-bottomline {
//   border-bottom: 1px solid $headline-bottom-line;
// }
