@import "../utils/variables";

//MOBILE

.headline-h2 {
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 33px;
  margin-bottom: 30px;
  padding-top: 60px;

  &--work {
    display: none;
  }
}

.headline-h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;

  &--lorem {
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
    color: $main-text-color;
    text-align: center;
  }

  &--footer {
    color: $button-text-color;
    margin-top: 60px;
    margin-bottom: 0;
  }
}

.headline-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  color: $main-text-color;
  margin: 0 auto;
  padding-left: 24px;
  padding-bottom: 4px;
  padding-top: 0;
  position: relative;
  z-index: 2;
}

.headline-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  color: $main-text-color;
}

@media screen and (min-width: 1200px) {
  .headline-h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 0;
    padding-top: 0;

    &--work {
      display: block;
    }
  }

  .headline-h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 0.03em;

    &--lorem {
      margin-top: 30px;
      margin-bottom: 10px;
      padding: 0;
      color: $main-text-color;
      text-align: center;
    }

    &--footer {
      color: $button-text-color;
      margin-bottom: 20px;
    }
  }
}
