@import "../utils/variables";

//MOBILE

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
  margin: auto;
  gap: 100px;
  max-width: 1600px;
  width: 100%;
  justify-content: space-between;
}

.header-bottomline {
  border-bottom: 1px solid $headline-bottom-line;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-container {
    margin: auto;
  }

  .header-bottomline {
    min-width: 768px;
    margin: 0;
    border-bottom: 1px solid $headline-bottom-line;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {

  .header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}
}


