// LOGO header + footer 

@import "../utils/variables";

//MOBILE

.logo {
  font-family: $secondary-font;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.9375em;
  letter-spacing: 0.03em;
  color: $button-backgroundnhover-color;

&--header > span {
  color: $menu-text-color;
  padding: 0;
  margin: 0;
}

&--footer > span {
  color: $button-text-color;
  text-align: center;
  justify-content: center;
  margin: 0;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

}

// .logo {
//   font-family: $secondary-font;
//   text-decoration: none;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.9375em;
//   letter-spacing: 0.03em;
//   color: $button-backgroundnhover-color;


// &--header > span {
//   color: $menu-text-color;
// }

// &--footer > span {
//   color: $button-text-color;
// }
// }