@import "../utils/variables";

.backdrop {
  display: flex;
  position: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms $transition-fn, opacity 250ms $transition-fn;
  z-index: 3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 250ms linear, opacity 250ms linear;
}

.modal {
  position: relative;
  max-width: 450px;
  width: 100%;
  height: 609px;
  background-color: $button-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: auto;
  transition: transform 250ms $transition-fn;

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
  }

  &__header {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.875em;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-text-color;
    margin: 40px 40px 12px;
  }

  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 auto;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 0.875em;
    letter-spacing: 0.01em;
    color: $contactncontent-text-color;
  }

  &__label:focus-within > &__input {
    border-color: $button-backgroundnhover-color;
    transition: border-color 250ms $transition-fn;
  }

  &__label:focus-within > &__icon {
    fill: $button-backgroundnhover-color;
    transition: fill 250ms $transition-fn;
  }

  &__input {
    position: relative;
    outline: none;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
  }

  &__comment {
    resize: none;
    outline: none;
    margin: 0 auto;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
  }

  &__comment:focus {
    border-color: $button-backgroundnhover-color;
    transition: border-color 250ms $transition-fn;
  }

  &__icon {
    position: absolute;
    top: 40%;
    left: 3%;
    align-items: center;
    justify-content: center;
    fill: $main-text-color;
  }
}

.checkbox {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  margin: auto;
  margin-top: 20px;
  margin-left: 40px;
  padding-right: 40px;
  max-width: 450px;
  width: 100%;
  color: $contactncontent-text-color;

  &__icon {
    position: absolute;
    fill: $button-text-color;
    top: 4%;
    right: 97%;
    border: 1px solid $main-text-color;
  }

  &__input {
    display: none;
  }

  input:checked + &__icon {
    fill: $button-backgroundnhover-color;
    border-color: $button-backgroundnhover-color;
    border-radius: 2px;
    transition: border-color 250ms $transition-fn;
    transition: fill 250ms $transition-fn;
  }
}

.checkbox__terms {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  margin: auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 40px;

  &--link {
    color: $button-backgroundnhover-color;
    text-decoration: underline;
    margin: auto;
    width: 100%;
  }

  &__icon {
    position: absolute;
    fill: $button-text-color;
    top: 10%;
    right: 97%;
    border: 1px solid $main-text-color;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;

    &__header {
      line-height: 1.4375em;
      text-align: center;
    }

    &__input {
      width: 448px;
      height: 40px;
      padding-left: 42px;
      margin-bottom: 10px;
    }

    &__comment {
      width: 448px;
      height: 138px;
      padding: 12px 16px;
    }
  }

  .checkbox {
    margin-left: 79px;
    margin-right: 54px;

    &__terms {
      font-size: 14px;
      padding: 0;
    }

    &__icon {
      top: 10%;
      right: 102%;
    }

    &__input {
      display: none;
    }
  }
}

// .backdrop {
//   display: flex;
//   position: fixed;
//   background-size: cover;
//   width: 100%;
//   height: 100%;
//   left: 0px;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   background: rgba(0, 0, 0, 0.2);
//   transition: visibility 250ms $transition-fn, opacity 250ms $transition-fn;
//   z-index: 3;
// }

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
//   transition: visibility 250ms linear, opacity 250ms linear;
// }

// .modal {
//   position: relative;
//   width: 528px;
//   height: 581px;
//   background-color: $button-text-color;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
//   margin: auto;
//   transition: transform 250ms $transition-fn;

//   &__form {
//     display: flex;
//     flex-direction: column;
//   }

//   &__header {
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 1.4375em;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: $main-text-color;
//     margin-top: 40px;
//     margin-bottom: 12px;
//   }

//   &__label {
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     gap: 4px;
//     padding-left: 40px;
//     font-weight: 400;
//     font-size: 12px;
//     line-height: 0.875em;
//     letter-spacing: 0.01em;
//     color: $contactncontent-text-color;
//   }

//   &__label:focus-within > &__input {
//     border-color: $button-backgroundnhover-color;
//     transition: border-color 250ms $transition-fn;
//   }

//   &__label:focus-within > &__icon {
//     fill: $button-backgroundnhover-color;
//     transition: fill 250ms $transition-fn;
//   }

//   &__input {
//     position: relative;
//     outline: none;
//     width: 448px;
//     height: 40px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     padding-left: 42px;
//     margin-bottom: 10px;
//   }

//   &__comment {
//     resize: none;
//     outline: none;
//     width: 448px;
//     height: 138px;
//     border: 1px solid rgba(33, 33, 33, 0.2);
//     border-radius: 4px;
//     padding: 12px 16px;
//   }

//   &__comment:focus {
//     border-color: $button-backgroundnhover-color;
//     transition: border-color 250ms $transition-fn;
//   }

//   &__icon {
//     position: absolute;
//     top: 40%;
//     left: 10%;
//     align-items: center;
//     justify-content: center;
//     fill: $main-text-color;
//   }
// }

// .checkbox {
//   position: relative;
//   font-weight: 400;
//   font-size: 14px;
//   margin-top: 20px;
//   margin-left: 55px;
//   margin-right: 54px;
//   margin-bottom: 0;
//   color: $contactncontent-text-color;

//   &__input {
//     position: relative;
//     opacity: 0;
//   }

//   &__icon {
//     position: absolute;
//     fill: $button-text-color;
//     top: 10%;
//     right: 97%;
//     border: 1px solid $main-text-color;
//   }

//   input:checked + &__icon {
//     fill: $button-backgroundnhover-color;
//     border-color: $button-backgroundnhover-color;
//     border-radius: 2px;
//     transition: border-color 250ms $transition-fn;
//     transition: fill 250ms $transition-fn;
//   }
// }

// .checkbox__terms {
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.5em;
//   letter-spacing: 0.03em;

//   &--link {
//     color: $button-backgroundnhover-color;
//     text-decoration: underline;
//   }
// }
