@import "../utils/variables";

.main-portfolio {
  background-color: white;
}

.categories {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 30px;
}

.grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  margin-bottom: 60px;

  &__item {
    margin: 0 auto;
    padding: 0%;
  }

  &__category {
    font-size: 16px;
    line-height: 1.875em;
    letter-spacing: 0.03em;
    color: $contactncontent-text-color;
    margin: 0 auto;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 0;
  }

  &__link {
    text-decoration: none;
  }

  &__img {
    background-color: $button-text-color;
    margin: 0 auto;
    padding: 0%;
    transition: color 250ms $transition-fn, fill 250ms $transition-fn;
  }

  &__img:hover,
  &__img:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }

  &__box {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 294px;
    padding: 49px 45px 49px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $button-text-color;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 28px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms $transition-fn;
    z-index: -1;
  }

  &__box:hover &__overlay,
  &__box:focus &__overlay {
    position: absolute;
    transform: translateY(0);
    z-index: 1;
    overflow: hidden;
  }

  &__figcaption {
    border-left: 1px solid $cards-border;
    border-bottom: 1px solid $cards-border;
    border-right: 1px solid $cards-border;
    background-color: $button-text-color;
    margin: 0 auto;
    padding: 0%;
    position: relative;
    z-index: 2;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .grid__item {
    flex-basis: calc((100% - 60px) / 2);
    max-width: 354px;
  }

  .categories {
    margin-bottom: 50px;
  }

  .grid {
    margin: 0 auto;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    .grid__item {
      flex-basis: calc((100% - 60px) / 3);
    }
    .categories {
      margin-top: 0;
    }
  }
}
