// Box-sizing for whole website
@import "../utils/variables";

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// Container for header, body and footer

//MOBILE 480

@media screen and (max-width: 768px) {
.container {
  min-width: 320px;
  max-width: 480px;
  padding: 0 15px;
  margin: 0 auto;
  align-items: center;
 
}
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
    margin: 0 auto;
    align-items: center;
  }
}

//DESKTOP
// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }

// .section {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }
