@import "../utils/variables";

//MOBILE

.team {
  background-color: $alternative-button-background-color;
  width: 100%;
  padding-bottom: 30px;

  &__list {
    align-items: center;
    gap: 30px;
  }

  &__item {
    margin: 0 auto;
    background-color: $button-text-color;
    margin-bottom: 30px;
  }

  &__img {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 0 auto;
  }

  &__member {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875em;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 auto;
    padding-bottom: 16px;
    color: $contactncontent-text-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    min-width: 768px;
&__list {
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    }

    &__item {
      display: flex;
      margin: 0 auto;
      flex-basis: calc((100% - 30px) / 2);
      flex-wrap: wrap;
      width: 100%;
    }
   
  }
}

// .team {
//   background-color: $alternative-button-background-color;
//   width: 100%;

// &__list {
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   gap: 30px;
// }

// &__item {
//   margin: 0 auto;
//   background-color: $button-text-color;
// }

// &__img {
//   margin: 0 auto;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// &__member {

// }

// &__job {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.1875em;
//   text-align: center;
//   letter-spacing: 0.03em;
//   margin: 0 auto;
//   padding-bottom: 30px;
//   color: $contactncontent-text-color;
// }
// }
