@import "../utils/variables";

// .team {
//   background-color: $alternative-button-background-color;
//   width: 100%;

// &__list {
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: space-evenly;
//   gap: 30px;
// }

// &__item {
//   margin: 0 auto;
//   background-color: $button-text-color;
// }

// &__img {
//   margin: 0 auto;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// &__job {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.1875em;
//   text-align: center;
//   letter-spacing: 0.03em;
//   margin: 0 auto;
//   padding-bottom: 30px;
//   color: $contactncontent-text-color;
// }
// }