@import "../utils/variables";

//MOBILE

.team {
  background-color: $alternative-button-background-color;
  max-width: 100%;
  padding-bottom: 30px;
  margin: auto;

  &__list {
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 0;
  }

  &__item {
    background-color: $button-text-color;
    width: 100%;
    max-width: 450px;
    margin: auto;
    margin-bottom: 30px;
  }

  &__img {
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: auto;
  }

  &__member {
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  &__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875em;
    text-align: center;
    letter-spacing: 0.03em;
    margin: auto;
    padding-bottom: 16px;
    color: $contactncontent-text-color;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      flex-basis: calc((100% - 30px) / 2);
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin-bottom: 64px;
  }

  .team__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }
}
